<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" type="imagex" href="/static/imgs/edifav.png">
    <script src="/static/script.js"></script>
    <title>Santos & Bispo</title>
</head>
<body>
    <header>
        <div class="logo" id="inicio">
            <img src="/static/imgs/logo.png" alt="">
        </div>
        <div class="nav">
           <a href="#inicio"> <span class="item-nav">INICIO</span></a>    
           <a href="#atuacao"> <span class="item-nav">ATUAÇÃO</span></a>   
           <a href="#sobre"> <span class="item-nav">SOBRE</span></a> 
           <a href="#contatos"> <span class="item-nav">CONTATO</span></a>   
        </div>
    </header>

    <section class="sec-1">
        <div class="container-titulo">
            <div class="titulo"> Santos & Bispo</div>
            <div class="sub-titulo">ADVOCAIA E CONSULTORIA JURÍDICA</div>
        </div>
        <div class="apresentacao">
            Com mais de 20 anos de experiência, nosso escritório
            oferece soluções jurídicas personalizadas nas áreas
            Cível, Previdenciária e Trabalhista. Comprometidos
            com a ética, a excelência e o foco no cliente,
            trabalhamos para garantir resultados eficazes e 
            atendimento de qualidade em todas as etapas do 
            processo.
        </div>
    </section>
    
    <a href="https://api.whatsapp.com/send/?phone=5571999850747&text&type=phone_number&app_absent=0" target="_blank">
        <div class="botao">
          <span>Fale conosco</span> <img style="width: 50px;" src="/static/icons/whatsapp (1) 1.png" alt="">
      </div>
    </a>

    <section class="sec-2">
        <div class="contatos" id="contatos">
            <div>
                <div class="container-img">
                   <a href="#"> <img src="/static/icons/whatsapp d.png" alt=""></a> <span>71 9 9985-0747</span>
                </div>
                <div class="container-img">
                   <a href="https://www.instagram.com/bispoesantosadvocacia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"> <img src="/static/icons/instagram d.png" alt=""></a> <span>@santos&bispo</span>
                </div>
                <div class="container-img">
                  <a href="https://maps.app.goo.gl/QicuFbqBKYwKq3HV6"><img src="/static/icons/pin 1.png" alt=""></a> <span>Rua Romualdo de Brito</span>
              </div>
                <div class="container-img">
                    <a href="#"><img src="/static/icons/o-email d.png" alt=""></a> <span>santos&bispoadvogados@gmail.com</span>
                </div>
            </div>
            <div class="pontos">
                <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#B38659"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg> Analise detalhada</span>
                <div class="line"></div>
                <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#B38659"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg> Planejamento</span>
                <div class="line"></div>
                <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#B38659"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg> Consultoria</span>
                <div class="line"></div>
                <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#B38659"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg> Seu direito Garantido</span>
            </div>
        </div>

        <div class="perfil">
          
        </div>
      </section>
      <a href="https://api.whatsapp.com/send/?phone=5571999850747&text&type=phone_number&app_absent=0" target="_blank">
      <div class="botao" id="btctt">
        <span>Alguma Duvida?</span> <img style="width: 50px;" src="/static/icons/whatsapp (1) 1.png" alt="">
      </div>
    </a>
    

    <section class="sobre-section">
      <div class="textsobre" id="sobre">
        <h2>Sobre Nós</h2>
        <p>
            Bem-vindo ao nosso escritório de advocacia, onde combinamos tradição e inovação para oferecer serviços jurídicos 
            personalizados. Nossa equipe de advogados altamente qualificados está comprometida com a busca de soluções eficazes 
            e éticas para nossos clientes.
        </p>
     </div>
      <div class="carousel">
          <button class="carousel-button prev" onclick="moveCarousel(-1)">&#10094;</button>
          <div class="carousel-images" id="carousel-images">
              <img src="/static/imgs/file (1).jpg" alt="Advogados discutindo estratégia">
              <img src="/static/imgs/file.jpg" alt="Sala de reuniões moderna">
              <img src="/static/imgs/file2.png" alt="Livros jurídicos em uma prateleira">
          </div>
          <button class="carousel-button next" onclick="moveCarousel(1)">&#10095;</button>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.405866726297!2d-38.3251254219117!3d-12.895505820658816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161799739d7f83%3A0x70100c4c6db098c6!2sSantos%20%26%20Bispo%20Sociedade%20de%20Advogados!5e0!3m2!1spt-BR!2sbr!4v1734318410087!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="textsobre">
        <h2>Sobre Nós</h2>
          <p>
              Bem-vindo ao nosso escritório de advocacia, onde combinamos tradição e inovação para oferecer serviços jurídicos 
              personalizados. Nossa equipe de advogados altamente qualificados está comprometida com a busca de soluções eficazes 
              e éticas para nossos clientes.
          </p>
       </div>
    </section>
  


    <section class="fot">
      <footer>
          <div class="container">
            <div class="section">
              <h3>Sobre a Empresa</h3>
              <p><strong>Santos & Bispo  LTDA</strong></p>
              <p>CNPJ: 12.345.678/0001-99</p>
              <p>Endereço: CEP 42702700 - Rua Romualdo de Brito, 17 - 1ª - Centro, Lauro de Freitas - BA</p>
            </div>
      
            <div class="section">
              <h3>Contato</h3>
              <p>Email: santos&bispoadvogados@gmail.com</p>
              <p>Telefone: (71) 9 9985-0747</p>
               </div>
      
            <div class="section social-icons">
              <h3>Redes Sociais</h3>
              <a href="https://api.whatsapp.com/send/?phone=5571999850747&text&type=phone_number&app_absent=0" target="_blank">
                <img src="/static/icons/whatsapp (1) 1.png" alt="whatsapp">
              </a>
              <a href="#" target="_blank">
                <img src="/static/icons/linkedin 1.png" alt="Linkedin">
              </a>
              <a href="https://www.instagram.com/bispoesantosadvocacia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="/static/icons/instagram 1.png" alt="Instagram">
              </a>
              <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.405866726297!2d-38.3251254219117!3d-12.895505820658816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161799739d7f83%3A0x70100c4c6db098c6!2sSantos%20%26%20Bispo%20Sociedade%20de%20Advogados!5e0!3m2!1spt-BR!2sbr!4v1734318410087!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
      
          </div>
      
          <div class="copyright">
            <p>&copy; 2024 Desenvolvido por AstroCode. Todos os direitos reservados.</p>
          </div>
        </footer>
    </section>



</body>
</html> 